.theme
{
    font-family: Roboto;
    font-size: 60px;
    background-color: #242424;
}
.header
{
    height: 200px;
}

/* TEXT PROPERTIES START */
@font-face{ font-family: Roboto; src: url(../fonts/Roboto-Regular.ttf); }
@font-face{ font-family: RobotoBold; src: url(../fonts/Roboto-Bold.ttf); }
@font-face{ font-family: RobotoLight; src: url(../fonts/Roboto-Light.ttf); }
@font-face{ font-family: RobotoThin; src: url(../fonts/Roboto-Thin.ttf); }
.font-robotobold{ font-family: robotobold; }
.font-robotolight{ font-family: robotolight; }
.font-robotothin{ font-family: robotothin; }

.text-green{ color: #42d060 !important; }

.f-s-10{ font-size: 10px !important; }
.f-s-13{ font-size: 13px !important; }
.f-s-15{ font-size: 15px !important; }
.f-s-17{ font-size: 17px !important; }
.f-s-19{ font-size: 19px !important; }
.f-s-20{ font-size: 20px !important; }
.f-s-23{ font-size: 23px !important; }
.f-s-25{ font-size: 25px !important; }
.f-s-27{ font-size: 27px !important; }
.f-s-29{ font-size: 29px !important; }
.f-s-30{ font-size: 30px !important; }
.f-s-35{ font-size: 35px !important; }
.f-s-40{ font-size: 40px !important; }
.f-s-45{ font-size: 45px !important; }
.f-s-50{ font-size: 50px !important; }
.f-s-70{ font-size: 70px !important; }
.f-s-80{ font-size: 80px !important; }
.text-decoration-none{text-decoration: none !important;}
/* TEXT PROPERTIES END */

/* BOXES/DIVS/BUTTONS/INPUTS PROPERTIES END */
.radius-10{ border-radius: 10px !important; }
.border-green {border-color: #42d060 !important;}
.outline-none {outline:none !important;}

.themeBtn {
    border: 1px solid;
    border-color: #42d060;
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    border-radius: 1px;
    letter-spacing: 0.5px;
	cursor:pointer;
	border-radius:100px;

}
.themeBtn:hover, .themeBtn:focus {
    background: rgb(66, 208, 96);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px rgba(66, 208, 96, 0.6);
}
.capsule
{
    margin-bottom: 6rem;
    position: relative;
    background: #1e1e1e;
    cursor: pointer;
    border: solid 0.5px #000;
    padding: 15px 30px;
    min-height: 160px;
    box-shadow: 0px 19px 20px 0px #0000007d !important;
}
.capsule:active
{
    box-shadow: 0px 10px 11px 0px #0000007d !important;
    /* box-shadow: 0px 0px 11px 0px rgba(13, 13, 13, 0.61) inset !important; */
    /* box-shadow: 0px -5px 30px 10px rgba(13, 13, 13, 0.61) inset !important; */
}
.capsule-top-ico
{
    position: absolute;
    top: -50px;
}
.capsule-bottom-ico
{
    cursor: pointer;
    position: absolute;
    bottom: -45px;
    right: 45px;
}
/* BOXES/DIVS/BUTTONS PROPERTIES END */
